<!DOCTYPE html>
<html>
<head>
    <title>Skill Gap Analysis</title>
</head>
<body>

<h1>Skill Gap Analysis</h1>

<form method="POST">

    <label>Select Career:</label>

    <select name="career">
        <option>Data Analyst</option>
        <option>AI Engineer</option>
        <option>Digital Marketer</option>
    </select>

    <br><br>

    <label>Your Skills (comma separated)</label><br>

    <input type="text"
           name="skills"
           placeholder="Python, SQL">

    <br><br>

    <button type="submit">
        Analyze
    </button>

</form>

</body>
</html>
